server:
  port: 8080

spring:
  application:
    name: bank-rest
  datasource:
    url: jdbc:postgresql://db:5432/bank-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  liquibase:
    change-log: classpath:db/migration/master-changelog.xml
    enabled: true
    drop-first: true

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: INFO
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: DEBUG

