server:
  port: 8080

spring:
  application:
    name: bank-rest
  datasource:
    url: jdbc:postgresql://localhost:5432/bank-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  liquibase:
    change-log: classpath:db/migration/master-changelog.xml
    enabled: true
    drop-first: true

management:
  prometheus:
    metrics:
      export:
        enabled: true
  endpoints:
    web:
      exposure:
        include: prometheus

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: INFO

app:
  security:
    jwt:
      secret: "refwdqxhjyk8k7jh6hgmldln4dlndn3ldn3nd3"
      expiration-minutes: 60
  crypto:
    aesSecret: "0123456789ABCDEF0123456789ABCDEF"
  monitoring:
    enabled: true
    include-repository-layer: false
    include-private-methods: false
    min-execution-time-ms: 0

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    enabled: true


